* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: white;
  color: #666;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}
header {
  height: 90vh;
  background-color: red;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("librarybg4.jpeg");
  background-size: cover;
  background-position: center;
}
.nav-content {
  display: flex;
  justify-content: space-between;
}
.main-nav {
  display: flex;
  list-style: none;
  text-transform: capitalize;
}
.main-nav li {
  margin: 5%;
}
h1::first-letter{
    font-size: 5em;
    color: #e67e22;
    text-transform: uppercase;
}
.nav-content img {
  width: 7%;
  padding: 2%;
}
.nav-content ul li a {
  text-decoration: none;
  color: #fff;
line-height: 2;  
border-radius: 10%;
letter-spacing: 2px;
}
.nav-content a:hover{
    border-bottom: 2px solid #e67e22;
}

header .h1 {
  display: flex;
  color: #fff;
  justify-content: flex-end;
  flex-direction: row;
  height: 45vh;
  flex-wrap: wrap;
}
header h1{
    align-self: center;
}
.header-btn{
    display: flex;
    justify-content: flex-end;
}
.header-btn .btn{
border: 2px solid #e67e22;
border-radius: 25%;
line-height: 1;
margin: 5%;

}
.header-btn a{
    text-decoration: none;
    padding: 1%;
}
.header-btn .btn-show{
    background-color: #e67e22;
    color: white;
}
.header-btn .btn-hide{
    color: #e67e22;
}
.header-btn .btn-hide:hover{
    background-color: #e67e22;
    color: #fff;
}
